{% extends 'model/base.html'%}
{%block title%}
home
{%endblock%}

{%block content%}
<div class="text-center mb-3">
    <form action="{% url 'search-employees' %}" method="get" class="form-inline justify-content-center">
      <input
        type="text"
        name="search"
        value="{{ search|default:'' }}"
        placeholder="Search employees…"
        class="form-control mr-2"
      >
      <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
  </div>
<br>
<a href="{%url 'create-employee'%}">

    <button class="btn btn-primary">
    Create Employee
    </button>
</a>
<br>
 <div class="text-center">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Notes</th>
                <th>Birth Date</th>
                <th>Actions/Operations</th>
            </tr>
        </thead>
        {%for employee in employees%}
        <tbody>
            <tr>
                <td>

                    {{employee.first_name}}
                </td>
                <td>
                    {{employee.last_name}}
                </td>
                <td>
                    {{employee.department}}
                </td>
                <td>
                    {{employee.email}}
                </td>
                <td>
                    {{employee.notes}}
                </td>
                <td>
                    {{employee.birth_date}}
                </td>
                <td>
                    <a href="{% url 'employee-detail' pk=employee.id %}">
                            <button class="btn btn-primary">
                              Detail
                            </button>
                        </a>| 
                        
                            <a href="{%url 'delete-employee' pk=employee.id%}">
                                <button class="btn btn-danger">Delete</button>
                            </a>
                    </td>
                         
            </tr>

        </tbody>
        {%endfor%}
      </table>
     
 </div>

 {%if query%}
 <div class="text-center">
   <a href="{%url 'all-employees'%}">
    <button class="btn btn-primary">
     Home
    </button>
   </a>
 </div>
    {%endif%}
{%endblock%}